.redactor-box .mention {
    text-decoration: none !important;
    color: #e03c00 !important;
    cursor: default;
}
.redactor-box .user_select {
    list-style-type: none;
    margin: 0;
    padding: 3px 0 0 0;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 20px;
}
.redactor-box .user_select li {
    padding: 3px;
    margin: 2px 0;
}
.redactor-box .user_select .selected {
    background-color: #e03c00;
    color: #ffffff;
}
.redactor-box .user_select li img {
    margin: 0 4px 0 0;
    vertical-align: bottom;
}
